
<article class="post center">
    <div class="title">
        <a class="title" href="/post/{{id}}">{{title}}</a>
    </div>
    <div class="meta post-info-meta">
        Created on {{format_date created_at}}
        |
        <div> {{comments.length}} {{format_plural "comment" comments.length}}</div>
        <div>
            Created by {{user.username}}
        </div>
    </div>

    <div class="content">{{content}}

    </div>
</article>